
html{
    font-family: verdana, arial;
}
h1{
    float: left;
    margin-right: 10px;
    margin-left: 0px;
    margin-top:2px;
    margin-bottom:0px;

}
.navbar ul{
    list-style-type: none;
    background-color: hsl(0, 0%, 84%);
    padding: 0px;
    margin: 0px;
    margin-top:8px;
    overflow: hidden;
}
.navbar a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: hsl(0, 0%, 62%);
}
.navbar li{
    float: left;
    margin-left:7%;
    margin-right:7%;
}
.searchbar{
    display: inline;
}
.searchbar form input{
    width: 86%;
    height: 40px;
    font-size: large;
}
#searchbtn{
    width:55px;
    height: 46px;
    margin-top: 5px;
    padding-top:4px;
    padding-right:5px;
    padding-left:5px;
    padding-bottom:0px
}
#createpost{
    border:1px solid;
    text-align:center;
    position: absolute;
    top:40%;
    left:33%;
    padding:0px;
    padding-bottom:20px;
    border-radius:4px;
}
#image{
    margin-left:44px;
}
#itemName{
    text-align: center;
}
#itemimg{
    width:30%;
    margin-left:12%;
    float:left;
    margin-right:2%;
    margin-bottom:2%;
}
#buybtn{
    width:15%;
    display:inline-block;
    padding-top:1%;
    padding-bottom:1%;
    font-size: 18px;
}
#itemprice{
    display:inline;
    margin-right:2%;
}
#itemdescript{
    margin-right:12%;
}